<div class="card text-white bg-dark">
    <div class="card-header">
        <div class="row">
            <div class="col-5"></div>
            <div class="col-4">
                <h2>Novo Cliente</h2>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4">
                <form action="/Clientes/Cadastro" method="post">
                    <lable>Nome</lable>
                    <input type="text" name="Nome" class="form-control" />
                    <br />

                    <lable>Telefone</lable>
                    <input type="tel" name="Telefone" class="form-control" />
                    <br />

                    <button type="submit" class="btn btn-success">Salvar Cliente</button>
                </form>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</div>

