@model List<WebApp_Tarde.Models.ClientesViewModel>

<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        <h2>Lista de Clientes</h2>
    </div>
    <div class="card-body bg-dark">
        <div class="row">
            <div class="col-2">
                <a href="/Clientes/Cadastro"
                   class="btn btn-success">
                   Novo Cliente
               </a>
            </div> 
            <div class="col-3">
                <select name="filtro" class="form-control">
                    <option value= "0">Todos os campos</option>
                    <option value= "id">Por Id</option>
                    <option value= "nome">Por Nome</option>
                    <option value= "telefone">Por Telefone</option>
                </select>
            </div>
            <div class="col-5">
                <input type="text" name="busca" class="form-control" />
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Pesquisar</button>
            </div>
            </div>
        <table class="table table-dark">

            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.Telefone</td>
                        <td>
                            <a href="/Clientes/Editar/@cliente.Id"
                               class="btn btn-warning">
                                Editar
                            </a>
                            <a href="/Clientes/Excluir/@cliente.Id"
                               class="btn btn-danger">
                                Excluir
                            </a>
                            <a href="/Clientes/Compras/@cliente.Id"
                               class="btn btn-info">
                                Lista de Compras
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

