@{
    ViewData["Title"] = "Home Page";
}
<div class="card text-white bg-dark">
    <div class="card-header">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="text-center">
                    <h1 class="display-4">Bem-vindo</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>

