<div class="card text-white bg-dark">
    <div class="card-header">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                @{
                    ViewData["Title"] = "Privacy Policy";
                }
                <h1>@ViewData["Title"]</h1>

                <p>Use this page to detail your site's privacy policy.</p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</div>


